body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
}

header {
    background-color: #333;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-image {
    margin-left: 10px;
}

.profile-image img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#search-bar {
    display: flex;
    align-items: center;
}

#search-input {
    border: 1px solid #ccc;
    padding: 7px;
    width: 100%;
    max-width: 300px;
    margin-right: 10px;
    border-radius: 50px;
}

#search-button {
    background-color: #fff;
    color: black;
    border: 0;
    padding: 3px 10px;
    cursor: pointer;
    border-radius: 50px;
}

.carrinho {
    margin-right: 10px;
}

.carrinho img {
    width: 40px;
    height: auto;
}


.produtos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.produto {
    flex: 0 0 calc(200px - 20px); /* Manterá todos os produtos com o mesmo tamanho */
    height: 400px; 
    margin: 10px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Alinha os itens verticalmente */
}

.produto img {
    max-width: 100%; /* A imagem ocupará 100% do seu contêiner pai */
    height: auto; /* Isso garante que a proporção da imagem seja mantida */
    max-height: 280px;
    border-radius: 5px;
    margin-bottom: 10px;
}

@media only screen and (max-width: 768px) {
    .produto {
        flex: 0 0 calc(50% - 20px); /* Reduz o tamanho dos produtos para telas menores */
        margin: 10px 5px; /* Reduzindo a margem dos produtos */
    }
}


.produto h2, .produto p {
    margin: 5px 0;
    color: #333;
    text-decoration: none;
}

.produto a {
    text-decoration: none !important;
    color: inherit; 
}


.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #d8232a;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #b20c10;
}


@media only screen and (max-width: 768px) {
    .produto {
        width: calc(50% - 20px);
    }
}

.carousel-container {
    position: relative;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

.carousel-item {
    flex: 0 0 auto;
    scroll-snap-align: start;
    margin-right: 20px;
}

.carousel-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 24px;
    background-color: transparent;
    border: none;
    padding: 10px;
    border-radius: 50%;
    color: grey;
    z-index: 1;
}

.carousel-arrow.left {
    left: 10px;
}

.carousel-arrow.right {
    right: 10px;
}

.title {
    text-align: center;
    color: white;
    font-size: 50px;
}

.title2 {
    text-align: center;
    color: white;
}


@media only screen and (max-width: 768px) {
    .profile-image {
        margin-left: 5px;
    }

    .title, .title2 {
        font-size: 36px;
    }

    .carousel-arrow {
        font-size: 20px;
    }

    .produto {
        width: calc(50% - 20px); 
        min-height: auto;
        margin: 10px 5px;
    }

    .produto img {
        margin-bottom: 5px;
    }
    .produto a {
        text-decoration: none; 
        color: inherit; 
    }
    
}
