body {
    background-color: #333;
    opacity: 0.8;
    margin: 0;
    padding: 0;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

.imgLogo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin-right: 10px;
}

input[type="text"] {
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
    border: none;
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: #2234D4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #182C93;
}

.Produtos {
    color: white;
    margin-top: 50px;
    text-align: center;
}

.Produtos h1 {
    margin-bottom: 20px;
}

.produto-tag {
    display: flex;
    justify-content: center;
}

.tag {
    margin: 0 20px;
}

.produtos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.produto {
    width: 200px;
    margin: 10px;
    padding: 10px;
    background-color: #2234D4;
    border-radius: 5px;
    text-align: center;
}

.produto img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

.produto h3, .produto p {
    color: white;
    margin: 5px 0;
}
