body { 
    font-family: Arial, sans-serif;
    background-color: #333;
    margin: 0;
 }


#imagemPerfil{
    height: 300px;
    width: 300px;
    display: block;
    border-radius: 50%;
    object-fit: cover;
}

.perfil-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: aliceblue;
}

button {
    width: 100%;
    height: 70px;
    margin: 0;
    background: linear-gradient(135deg, black, #f50303);
    color: aliceblue;
    cursor: pointer;
    display: block;
}

button:hover {
color: black;

}

input[type="file"] {
    display: none;
    
}

.botao-customizado {
    color: white;
    border-radius: 50%;
  }
  
#botao {
    margin-top: -30px ;
    margin-bottom: 70%;
    margin-left: 200%;
  
}

#seta {
    margin-top: 10px;
    position: left;
    margin-right: 95%;
}


