body {
    background-color: #333;
    color: #fff;
    font-family: Arial, sans-serif;
}

.product {
    text-align: center;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #444;
    background-color: #222;
    width: 80%;
    max-width: 600px;
}

.product img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.product-name {
    font-size: 24px;
    color: #ff4d4d; /* Vermelho */
}

.product-description {
    font-style: italic;
}

.product-price, .product-quantity {
    color: #ff944d; /* Laranja */
}

.rating {
    margin-top: 20px;
}

.stars {
    color: #ffcc00; /* Amarelo */
    font-size: 24px;
}

.star {
    cursor: pointer;
}

.star:hover,
.star.active {
    color: #ffcc00; /* Amarelo */
}

button {
    padding: 10px 20px;
    background-color: #d8232a;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #b20c10;
}