{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="{% static 'userstyle.css' %}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" href="img\download.png">
<title>Perfil</title>
</head>
<body>
<div class="perfil-container">

    <!--seta para saída da página-->
    <svg id="seta" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
    </svg>

  <img id="imagemPerfil" src="qq{{ request.user.perfilusuario.imagem_perfil.url|cut:'/media/' }}" alt="Imagem de Perfil">
  <label for="seletorImagem"
  class="botao-customizado"><svg id="botao" xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
  </svg></label>


  <form id="formImagem" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Salvar</button>
  </form>


    <div class="perfil-info">
        <p><strong>Nome:</strong> <span id="nomeComprador">{{ nome }}</span></p>
        <p><strong>Email:</strong> <span id="emailComprador">{{ email }}</span></p>

    </div>
  </div>

  <div class="compras">
    <button id="compra">COMPRAS</button><br>
    <button id="venda">VENDAS </button><br><br>
    <button class="sair">SAIR<i class="bi bi-box-arrow-in-right"></i></button></div><br>
  <script>
    var botaoCompra = document.getElementById('venda');

    botaoCompra.addEventListener('click', function() {
      window.location.href = '/HomePage/ProdutosSell';
    });
  </script>
</body>
</html>