{% load static %}
<!DOCTYPE html>
<html lang="pt-br" dir="ltr">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'finalcompra.css' %}">
    <link rel="icon" href="{% static 'logo.jpeg' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <title>Entrega</title>
</head>

<body>
    <div class="container">
        <img id="icone-logo" src="{% static 'logo.jpeg' %}">
        <div class="title">ENDEREÇO DE ENVIO</div>
        <div class="content">
            <form action="#"  onsubmit="return validarFormulario()">
                <div class="user-details">
                    <div class="input-box">
                        <span class="details">CEP</span>
                        <input type="text" placeholder="Insira seu CEP" required minlength="8" maxlength="9">
                    </div>
                    <div class="input-box">
                        <span class="details" >Cidade</span>
                        <input type="text"placeholder="Insira a cidade" required minlength="3" id="cidade">
                    </div>
                    <div class="input-box">
                        <span class="details">Bairro</span>
                        <input type="text" placeholder="Insira o bairro" required minlength="3" id="bairro">
                    </div>
                    <div class="input-box">
                        <span class="details">Rua/Avenida</span>
                        <input type="text" placeholder="Insira a rua/avenida"  minlength="3" id="rua">
                    </div>
                    <div class="input-box">
                        <span class="details">Número</span>
                        <input type="text" placeholder="Insira o número da sua residência" required minlength="1">
        </div>
         <div class="input-box">
             <span class="details">Estado</span>
             <input type="text" placeholder="Insira o estado" required minlength="3" id="estado">
        
            </div>
        </div>


                <div class="payment-methods">
        <h2>Escolha o método de pagamento:</h2><br>
    
        <label>
            <input type="radio" name="payment" value="credit-card"> Cartão de Crédito <i class="bi bi-credit-card"></i>
        </label>
        <label>
            <input type="radio" name="payment" value="pix"> PIX <i class="bi bi-x-diamond-fill"></i>
        </label>
        <label>
            <input type="radio" name="payment" value="paypal"> PayPal <i class="bi bi-paypal"></i>
        </label>
        <label>
            <input type="radio" name="payment" value="boleto"> Boleto <i class="bi bi-upc"></i>
        </label>
        <label>
            <input type="radio" name="payment" value="google-pay"> Google Pay <i class="bi bi-google"></i>
        </label>


        <h2>Escolha o método de entrega:</h2><br>

        <label>
        <input type="radio" name="entrega" value="normal"> NORMAL
        </label>
        <label>
        <input type="radio" name="entrega" value="express"> EXPRESS (taxa inclusa)
        </label>
        </div>
                <p class="ValorFinal"></p>
                <div class="button">
                    <input type="submit" value="COMPRAR">
                </div>
        </div>
    </div>
    {% for produto in produtos_no_carrinho %}
        <div class="produto" data-valor="{{ produto.valor }}"></div>
    {% endfor %}
    <script type="text/javascript">
        const produtos = document.querySelectorAll('.produto');
const normalRadio = document.querySelector('input[value="normal"]');
const expressRadio = document.querySelector('input[value="express"]');
let total = 0;

normalRadio.addEventListener('change', function() {
    calcularValorFinal();
});

expressRadio.addEventListener('change', function() {
    calcularValorFinal();
});

function calcularValorFinal() {
    total = 0; // Reseta o total a cada mudança de seleção de rádio
    let taxa = 0; // Inicializa a taxa

    produtos.forEach(produto => {
        const valor = parseFloat(produto.dataset.valor);
        total += valor;
    });

    if (expressRadio.checked) {
        taxa = total * 0.01;
    }

    const valorFinal = total + taxa;
    const valorFinalElement = document.querySelector('.ValorFinal');
    valorFinalElement.textContent = `Valor total: R$ ${valorFinal.toFixed(2)}`;
}


calcularValorFinal();

    </script>
</body>
</html>