{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <title>AkUMANOGEEK - Produtos</title>
</head>
<body>
    <a href="{% url 'HomePage:homepage' %}">
        <img class="imgLogo" src="{{ request.user.perfilusuario.imagem_perfil.url }}" alt="AkumanoGeekLogo">
    </a>
    <form method="GET">
        <div class="home">
            <input type="text" placeholder="O que você está procurando?">
            <button type="submit">Buscar</button>
        </div>
    </form>
    <div class="Produtos">
        <h1>Produtos Disponíveis</h1>
        <div class="produtos">
            {% for produto in produtos %}
            <a href="{% url 'visualizar_produto' produto.id %}">
                <div class="produto">
                    <img src="media/{{ produto.imagem.url|cut:'/media/' }}" alt="{{ produto.nome }}">
                    <h3>{{ produto.nome }}</h3>
                    <br>
                    <p>R${{ produto.valor }}</p>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</body>
</html>
